body {
  margin: auto;
}

article {
  margin: 2% 0 0 12%;
}

aside {
  top: 60px;
  left: 65%;
  position: absolute;
}

a {
  margin: 5px;
  display: inline-block;
  height: 61px;
  width: 61px;
}

.fb {
  background: url('fb_icon.png') no-repeat;
}

.insta {
  background: url('vimeo_icon.png') no-repeat;
}

.vimeo {
  background: url('insta_icon.png') no-repeat;
}
